<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Blog Search Well -->
<!--
    <div class="well">
        <h3>Blog Search</h3>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
    </div>
-->
    <!-- Blog Categories Well -->
    <div class="well">
        <h3>{{.Site.Params.SidebarTagTitle}}</h3>
        <div>
            {{ $baseurl := .Site.BaseUrl }}
            {{ range $name, $value := .Site.Taxonomies.tags }}
            <a href="{{ $baseurl }}/tags/{{ $name | urlize }}" style="font-size: {{ add 8 (mul 10 $value.Count) }}px;">
                {{ $name }}
            </a>
            {{ end }}
        </div>
        <!-- /.row -->
    </div>

    <div class="well">
        <h3>{{.Site.Params.SidebarRecentPostsTitle}}</h3>
        <ul>
            {{range where .Site.Recent "Section" "post" | first 10 }}
            <li><a href="{{.RelPermalink}}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>

    <!-- Side Widget Well -->
    {{range where .Site.Pages "Section" "sidebar"}}
    <div class="well">
        <h3>{{ .Title }}</h3>
        {{ .Content }}
    </div>
    {{ end }}

</div>
